<!--this file is named _header.hbs because it is being passed to another view -->

<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Posts Gallery</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/posts">Public Posts</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/signout">Logout</a></li>
        </ul>
    </div>
</nav>